<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fh.dao.AviationDao">
    <sql id="queryFlight">
        <where>
            <if test="flightQuery.name != null and flightQuery.name != '' ">
                and w.name= #{flightQuery.name}
            </if>
            <if test="flightQuery.startTime != null ">
                and w.startTime = #{flightQuery.startTime}
            </if>
            <if test="flightQuery.planeType !=null and flightQuery.planeType != 0">
                and w.typeId =#{flightQuery.planeType}
            </if>
            <if test="flightQuery.planeSize !=null">
                and pt.type =#{flightQuery.planeSize}
            </if>
        </where>
    </sql>
    <sql id="queryTicket">
        <where>
            <if test="flightQuery.type != null">
                and type = #{flightQuery.type}
            </if>
            <if test="flightQuery.startTime != null ">
                and w.startTime like '%'#{flightQuery.startTime}'%'
            </if>
        </where>
    </sql>
<select id="initTable" resultType="com.fh.model.vo.FlightVo" parameterType="com.fh.model.FlightQuery">
    select w.id flightId,w.name flightName,pt.name planeName,pt.type planeTypeId,w.startTime,w.endTime,
     a.name startAreaName,a.id startAreaId,a.pid startAreaPid,b.id endAreaId,b.pid endAreaPid ,b.name endAreaName
     from w_flight w left join w_plane_type pt on w.typeId = pt.id
    left join w_area a on w.startTerminalId = a.id
    left join w_area b on w.endTerminalId = b.id
    <include refid="queryFlight"></include>
</select>
    <select id="selectTicketById"  resultType="com.fh.model.po.FlightTicket">
        select * from w_fight_ticket where fight_id =#{flightId}
    </select>
    <select id="queryStartPAreaName" parameterType="Integer" resultType="String">
        select name from w_area where id = #{id}
    </select>
    <select id="queryEndPAreaName" parameterType="Integer" resultType="String">
        select name from w_area where id = #{id}
    </select>
    <select id="queryFlightById" parameterType="Integer" resultType="com.fh.model.vo.FlightVo">
        select w.id flightId,w.name flightName,pt.name planeName,pt.type planeTypeId,w.startTime,w.endTime,
     a.name startAreaName,a.id startAreaId,a.pid startAreaPid,b.id endAreaId,b.pid endAreaPid ,b.name endAreaName
     from w_flight w left join w_plane_type pt on w.typeId = pt.id
    left join w_area a on w.startTerminalId = a.id
    left join w_area b on w.endTerminalId = b.id where w.id = #{id}

    </select>
</mapper>